.image-margin-top{
    margin-top: 60px;
}
.image-margin-bottom{
    margin-bottom: 60px;
}
.less-space-bt-t-p{
    margin-top: -15px;
}


.less-space-bt-t-icon{
    margin-top: -38px;
}
.more-space-bt-t-img{
    margin-top: 60px; 
}

.big-title{
    margin-top: 90px;
}
.grey-text{
    color: #7e7e7e;
}