.line_black{
    height:12px;
    width:50px;
    background-color: black;
}

.line_white{
    height:12px;
    width:50px;
    background-color: white;
}


.project_describe_title{
    font-size: 15px;
    letter-spacing: 2px;
    color: black;
    padding-top: 6px;
}

p{
    font-family: "Open Sans";
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 20px;
    color: black;
       -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
