.line_black{
    height:14px;
    width:80%;
    background-color: black;
}
.grey-line{
    height:1px;
    width:100%;
    background-color:#d3d3d3;
    margin-top: 1%;
    margin-bottom: 1%;
}
.grey-line-space-adjust{
     margin-top: 2%;
}
.project-title-margin{
    margin-top: 100px;
}
.line_white{
    height:12px;
    width:50px;
    background-color: white;
}


.title-space{
    margin-left:  4.1666%;
}

.title-space-two{
    margin-left:8.33333%;
}
.ten-space{
    padding-left: 20px;
}
.no-ten-space{
   padding: 0;
}

.more-space-t-t{
   margin-top: 20px;
}
.more-space-t-t-2{
   margin-top: 100px;  
}
.info-title{
    font-size: 16px;
    letter-spacing: 2px;
    color:#a8a8a8;
    padding-top: 6px; 
}

.next-project-tt-space{
    margin-top: 2%;
}


.image-whitespace-1{
    margin-top:60px;

}

.image-whitespace-2{
   margin-top:60px; 
}

.para-right{
    margin-left: 0;
}


/*nav start*/



nav ul{
    padding-top: 20px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;  
    margin: 40px;
    /*
    font-family: 'Exo 2', sans-serif;
    text-shadow: 1px 1px black;*/
    letter-spacing: 3px;
}

nav a{
    position: relative;
    text-decoration: none;
    color: black;
}


nav a:after{
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '';
  background: black;
  height: 1px;
}

nav a:hover:after {
  width: 100%;
}

nav a:after{
  transition: all .3555s;
}

.active {
    border-bottom: 1px solid black;
}

.passive {
  border-bottom: 0px solid black;
}

/*nav end*/

.project_title{
       font-size: 35px;
   color:black;
    text-align: left;
    letter-spacing: 8px;
     font-weight: 600; 
}

.project_describtion{
    font-size: 20px;
    text-align: left;
    font-weight: 400;
}

.mobile-grey-line{
     height:1px;
    width:100%;
    background-color:#d3d3d3;
    margin-top: -3%;
}

.mobie-blackline{
    font-weight:600;
    font-size: 16px;
}

.mobile-project-title{
     font-size: 35px;
   color:black;
    text-align: left;
    letter-spacing: 8px;
     font-weight: 600; 
}

.mobile-img-space-top-buttom{
    margin-top: 3%;
    margin-bottom: 5%;
}
.mobile-img-space-top{
    margin-top: 3%;
}
.mobile-less-space-tp{
     margin-top: -0.1%;
}




