h1{
    font-size: 25px;
    color: black;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    padding-top:80px;
}

.red{
    font-size: 20px;
/*    color:#ff5a5f;*/
    letter-spacing: 1px;
    text-align: left;
    background: transparent;
    padding-top: 30px;
}
.p-top-30{
     padding-top: 30px;
}
a{
    font-size: 15px;
    color: black;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 400;
}


h2{
    font-size: 18px;
    letter-spacing: 2px;
    color: black;
    padding-top: 5px;
    font-weight: 600;
}

h3{
   font-size: 30px;
    letter-spacing: 2px;
    color: black;
    font-weight: 600; 
}

h4{
    font-size: 16px;
    letter-spacing: 2px;
    color: black;
    padding-top: 6px;
    font-weight: 500;
}
h5{
    font-size: 16px;
    letter-spacing: 2px;
    color: black;
    padding-top: 6px;
    font-weight: 500;
}