
.home1{
    margin-top: 50px;
}
nav {
    display: inline-block;
    margin: 0 auto;
    margin-top: -12px;
  
}


nav ul{
    padding-top: 40px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;  
    margin: 40px;
    /*
    font-family: 'Exo 2', sans-serif;
    text-shadow: 1px 1px black;*/
    letter-spacing: 3px;
}

nav a{
    position: relative;
    text-decoration: none;
    color: black;
}


nav a:after{
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '';
  background: black;
  height: 1px;
}

nav a:hover:after {
  width: 100%;
}

nav a:after{
  transition: all .3555s;
}

.active {
    border-bottom: 1px solid black;
}

.passive {
  border-bottom: 0px solid black;
}